<div
  class="app--map"
  leaflet
  [leafletOptions]="leafletOptions"
  (leafletMapReady)="onMapReady($event)"
></div>
<div class="app--form">
  <p>
    This tools is used to convert to and from
    <a
      target="_blank"
      href="https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry"
      >Well-Known Text (WKT)</a
    >
    using whichever map tileset you need.
  </p>
  <textarea #wktTextArea rows="5" [(ngModel)]="wkt"></textarea>
  <div>
    <button type="button" (click)="parseInWKT()">Map It!</button>
    <button #copyWKTButton type="button">Copy to Clipboard</button>
  </div>
  <hr />
  <div class="app--tile-url-format-container">
    <label for="tile-url-format">Tile URL Format</label>
    <input id="tile-url-format" type="text" [(ngModel)]="tileUrlFormat" />
  </div>
  <div>
    <button type="button" (click)="resetTileUrlFormat()">Reset</button>
    <button type="button" (click)="parseInTileUrlFormat()">
      Set URL Format
    </button>
    <small
      >URL Format Docs at
      <a target="_blank" href="https://leafletjs.com/reference.html#tilelayer"
        >https://leafletjs.com/reference.html#tilelayer</a
      ></small
    >
  </div>
</div>
